:root {
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-27: 27px;
    --fs-30: 30px;
    --fs-43: 43px;
    --fs-53: 53px;
    --fs-70: 70px;
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-27 {
    font-size: var(--fs-27);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-43 {
    font-size: var(--fs-43);
}

.fs-53 {
    font-size: var(--fs-53);
}

.fs-70 {
    font-size: var(--fs-70);
}


@media (max-width:1600px) {
    :root {
        --fs-70: 60px;
    }
}

@media (max-width:1200px) {
    :root {
        --fs-27: 22px;
        --fs-30: 25px;
        --fs-43: 35px;
        --fs-70: 50px;
    }
}

@media (max-width:992px) {
    :root {
        --fs-16: 14px;
        --fs-27: 16px;
        --fs-18: 16px;
        --fs-30: 21px;
        --fs-43: 30px;
        --fs-70: 45px;
    }
}

@media (max-width: 768px) {
    :root {
        --fs-16: 12px;
        --fs-18: 15px;
    }
}

@media (max-width:550px) {
    :root {
        --fs-16: 10px;
        --fs-27: 14px;
        --fs-18: 12px;
        --fs-43: 24px;
    }
}