@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik";
    background: #F5EEE8;
}

.offcanvas {
    background: #F5EEE8;
}

.self-contianer {
    max-width: 1780px;
    padding: 0px 60px;
    margin: 0px auto;
}

/* /bg color */
.bg-yellow {
    background: #FFD700;
}

.bg-transparant-blur {
    background: rgba(255, 255, 255, 0.10);
}

.bg-white-F8F8F8 {
    background: #F8F8F8;
}

.bg-white {
    background: #fff;
}

/* bg-img */
.bg-hero-img {
    background-image: url("/assetes/img/png/hero-bg-img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.sm-bg-hero {
    background-image: url("/assetes/img/png/sm-hero-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* color */
.text-black-2E3A59 {
    color: #2E3A59;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.text-white-E4E4F0 {
    color: #E4E4F0;
}

/* /max-width */
.max-w-146 {
    max-width: 146px;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-380 {
    max-width: 380px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-424 {
    max-width: 424px;
}

.max-w-590 {
    max-width: 590px;
}

.max-w-689 {
    max-width: 689px;
}

.max-w-725 {
    max-width: 725px;
}

/* width */
.w-142 {
    width: 142px;
}

.w-300 {
    width: 300px;
}

/* border */
.border-transparent {
    border: 1px solid transparent;
}

.border-1white {
    border: 1px solid #FFF;
}

.border-1yellow {
    border: 1px solid #FFD700;
}

.border-radius-16 {
    border-radius: 16px;
}

.border-radius-32 {
    border-radius: 32px;
}


/* padding */
.p-14 {
    padding: 14px;
}

.p-23-16-16-16 {
    padding: 8px 16px 8px 16px;
}

.p-15-26 {
    padding: 15px 26px;
}

.p-20-48 {
    padding: 20px 48px;
}

.p-tl-85-30 {
    padding: 85px 0px 0px 30px;
}

.p-24-18-21-8 {
    padding: 23.5px 18.5px 21.5px 8.5px;
}

.p-20-0 {
    padding: 20px 0;
}

/* margin */
.mt-32 {
    margin-top: 32px;
}

.mt-37 {
    margin-top: 37px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-170 {
    margin-top: 170px;
}

.mr--200 {
    margin-right: -200px;
}

/* line-height */
.line-h-130 {
    line-height: 130%;
}

.line-h-140 {
    line-height: 140%;
}

.line-h-150 {
    line-height: 150%;
}

/* gap */
.g-20 {
    gap: 20px;
}

.g-22 {
    gap: 22px;
}

/* letter spacing */
.letter-spasing-1 {
    letter-spacing: 1.12px;
}

/* position */
.bottom-48 {
    bottom: 48px;
}

/* hover */
.transition {
    transition: all 1s;
}

.bg-transparent-hvr:hover {
    background: transparent !important;
    border-color: #FFD700;
}

.bg-blur-hvr:hover {
    background: rgba(255, 255, 255, 0.10);
    color: #fff !important;
}

.bg-yellow-hvr:hover {
    background: #FFD700;
    color: #000 !important;
}

/* pagination */
.hero-section .swiper-pagination-bullet-active {
    background-color: #FFD700 !important;
    width: 12px;
    height: 12px;
}

.hero-section .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 100%;
    width: 12px;
    height: 12px;
}