@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik";
    background: #F5EEE8;
}

.offcanvas {
    background: #F5EEE8;
}

.self-contianer {
    max-width: 1780px;
    padding: 0px 60px;
    margin: 0px auto;
}

.list-style-none {
    list-style: none;
}

/* /bg color */
.bg-yellow {
    background: #FFD700;
}

.bg-transparant-blur {
    background: rgba(255, 255, 255, 0.10);
}

.bg-white-F8F8F8 {
    background: #F8F8F8;
}

.bg-white {
    background: #fff;
}

.bg-cream-F5EEE8 {
    background: #F5EEE8;
}

.bg-purpol {
    background: #4E098A;
}

/* bg-img */
.bg-hero-img {
    background-image: url("/assetes/img/png/hero-bg-img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.sm-bg-hero {
    background-image: url("/assetes/img/png/sm-hero-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.vip-wheel-bg-img {
    background-image: url("/assetes/img/png/vip-wheel-bg-img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.gat-50-bg-img {
    background: url("/assetes/img/png/get-50-bg-img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.cashback-bg-img {
    background: url("/assetes/img/png/cash-baack-bg-img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.jeckpot-bg-img {
    background: url("/assetes/img/png/jeckpot-bg-img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* color */
.text-black-2E3A59 {
    color: #2E3A59;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.text-white-E4E4F0 {
    color: #E4E4F0;
}

.text-white-F3F3F3 {
    color: #F3F3F3;
}

.text-white-DDD {
    color: #DDD;
}

.text-broun-807B61 {
    color: #807B61;
}

.text-black-343437 {
    color: #343437;
}

.text-black-2B2B32 {
    color: #2B2B32;
}

.text-black-232329 {
    color: #232329;
}

.text-green-ACCCAC {
    color: #ACCCAC;
}

.text-gray-ADADAD {
    color: #ADADAD;
}

.text-yellow {
    color: #FFD700;
}

/* /max-width */
.max-w-content {
    max-width: max-content;
}

.max-w-40 {
    max-width: 40px !important;
}

.max-w-132 {
    max-width: 132px;
}

.max-w-146 {
    max-width: 146px;
}

.max-w-230 {
    max-width: 230px;
}

.max-w-248 {
    max-width: 248px;
}

.max-w-294 {
    max-width: 294px;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-380 {
    max-width: 380px;
}

.max-w-388 {
    max-width: 388px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-424 {
    max-width: 424px;
}

.max-w-425 {
    max-width: 425px;
}

.max-w-590 {
    max-width: 590px;
}

.max-w-650 {
    max-width: 650px;
}

.max-w-689 {
    max-width: 689px;
}

.max-w-725 {
    max-width: 725px;
}

/* width */
.w-33 {
    width: 33.33%;
}

.w-142 {
    width: 142px;
}

.w-300 {
    width: 300px;
}

.min-w-61 {
    min-width: 61px !important;
}

/* height */
.h-265 {
    height: 265px;
}

.h-290 {
    height: 290px;
}

/* border */
.border-transparent {
    border: 1px solid transparent;
}

.border-1white {
    border: 1px solid #FFF;
}

.border-1yellow {
    border: 1px solid #FFD700;
}

.border-1broun {
    border: 1px solid #C8BBC6;
}

.border-radius-7 {
    border-radius: 7px;
}

.border-radius-10 {
    border-radius: 10.445px;
}

.border-radius-14 {
    border-radius: 14.362px;
}

.border-radius-16 {
    border-radius: 16px;
}

.border-radius-32 {
    border-radius: 32px;
}

.border-radius-40 {
    border-radius: 40px;
}

.border-bottom-1 {
    border-bottom: 1px solid #E8DFD7;
}

.border-right-1 {
    border-right: 1.5px solid black;
}

/* padding */
.p-14 {
    padding: 14px;
}

.p-23-16-16-16 {
    padding: 8px 16px 8px 16px;
}

.p-15-26 {
    padding: 15px 26px;
}

.p-20-48 {
    padding: 20px 48px;
}

.p-tl-85-30 {
    padding: 85px 0px 0px 30px;
}

.p-24-18-21-8 {
    padding: 23.5px 18.5px 21.5px 8.5px;
}

.p-20-0 {
    padding: 20px 0;
}

.p-40-31 {
    padding: 40px 31px;
}

.p-12-16 {
    padding: 12px 16px;
}

.p-12-24 {
    padding: 12px 24px;
}

.p-62-40-62-47 {
    padding: 62px 40px 62px 47px;
}

.p-19-24 {
    padding: 19px 24px;
}

.p-tb-29 {
    padding: 29px 0px 29px 0px;
}

.p-lr-29 {
    padding: 0px 29px 0px 29px;
}

.p-tb-20 {
    padding: 20px 0px 20px 0px;
}

.p-tb-32-29 {
    padding: 32px 0px 39px 0px;
}

.p-56 {
    padding: 56px;
}

.p-30 {
    padding: 30px;
}

.pt-37 {
    padding-top: 37px;
}

/* margin */
.mt-6 {
    margin-top: 6px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-37 {
    margin-top: 37px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-56 {
    margin-top: 56px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-88 {
    margin-top: 88px;
}

.mt-170 {
    margin-top: 170px;
}

.mr--200 {
    margin-right: -200px;
}

/* line-height */
.line-h-130 {
    line-height: 130%;
}

.line-h-140 {
    line-height: 140%;
}

.line-h-150 {
    line-height: 150%;
}

/* gap */
.g-6 {
    gap: 6px;
}

.g-12 {
    gap: 12px;
}

.g-20 {
    gap: 20px;
}

.g-22 {
    gap: 22px;
}

.g-32 {
    gap: 32px;
}

.g-40 {
    gap: 40px;
}

.g-132 {
    gap: 132px;
}

/* letter spacing */
.letter-spasing-1 {
    letter-spacing: 1.12px;
}

/* position */
.bottom-48 {
    bottom: 48px;
}

.left--45 {
    left: -45px;
}

.right--45 {
    right: -45px;
}

/* hover */
.transition {
    transition: all .7s;
}

.bg-transparent-hvr:hover {
    background: transparent !important;
    border-color: #FFD700;
}

.bg-blur-hvr:hover {
    background: rgba(255, 255, 255, 0.10);
    color: #fff !important;
}

.bg-yellow-hvr:hover {
    background: #FFD700;
    color: #000 !important;
}

.text-underline-hvr:hover {
    text-decoration: underline !important;
}

.bg-yellow-hvr:hover {
    background-color: #FFD700;
}

/* pagination */
.hero-section .swiper-pagination-bullet-active {
    background-color: #FFD700 !important;
    width: 12px;
    height: 12px;
}

.hero-section .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 100%;
    width: 12px;
    height: 12px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "" !important;
}

.mySwiper4 .swiper-pagination-bullet-active {
    background-color: #FFD700 !important;
    width: 12px;
    height: 12px;
}

.mySwiper4 .swiper-pagination-bullet {
    background-color: #F5EEE8;
    opacity: 100%;
    width: 12px;
    height: 12px;
}

/* tab */
.nav-item>.active,
.active>p {
    background-color: #FFD700 !important;
    color: #2E3A59 !important;
}

.active svg path {
    fill: #2E3A59;
}

.border-none {
    border: none;
}